<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>6 anos ❤️</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

<section class="hero">

    <div class="overlay"></div>

    <div class="conteudo">

        <h1>6 anos ❤️</h1>

        <h2>Uma história escrita com amor.</h2>

        <p>
            Cada sorriso, cada abraço e cada momento ao seu lado
            fizeram da minha vida um lugar muito mais feliz. "Clichê mas é vdd kkk"
        </p>

        <button id="btnHistoria">
            Começar nossa história
        </button>

    </div>

    <div class="scroll-indicator">
        ↓
    </div>

</section>

<section id="historia" class="contador">

    <h2>Nossa História ❤️</h2>

    <p class="texto">

        Cada segundo ao seu lado valeu e vale a pena.

    </p>

    <div class="cards">

        <div class="card">

            <h3 id="dias">0</h3>

            <span>Dias</span>

        </div>

        <div class="card">

            <h3 id="horas">0</h3>

            <span>Horas</span>

        </div>

        <div class="card">

            <h3 id="minutos">0</h3>

            <span>Minutos</span>

        </div>

        <div class="card">

            <h3 id="segundos">0</h3>

            <span>Segundos</span>

        </div>

    </div>

    <div class="acoes-historia">
    <button id="btnTimeline" class="btn-secundario">
        Ver nossa linha do tempo ❤️
    </button>

</div>

</section>

<section class="timeline">

    <h2>Nossa Linha do Tempo ❤️</h2>

    <div class="linha">

        <div class="evento esquerda">
            <div class="conteudo-evento">
                <img src="{{ url_for('static', filename='img/foto1.jpg') }}">
                <h3>Como nos conhecemos</h3>
                <p>
                    Tenho certeza que você se lembra somente olhando essa foto hein.
                </p>
            </div>
        </div>

        <div class="evento direita">
            <div class="conteudo-evento">
                <img src="{{ url_for('static', filename='img/foto2.jpg') }}">
                <h3>Primeiro encontro</h3>
                <p>
                    Um dos dias mais especiais das nossas vidas, onde nunca vou esquecer vc me fazendo ir buscar cerveja pra vc kkk
                </p>
            </div>
        </div>

        <div class="evento esquerda">
            <div class="conteudo-evento">
                <img src="{{ url_for('static', filename='img/foto3.jpg') }}">
                <h3>Primeiro "Eu te amo"</h3>
                <p>
                    E finalmente o pedido 🎉💞
                </p>
            </div>
        </div>

    </div>

    <div class="acoes-historia">

    <button id="btnFuturo" class="btn-secundario">
        Nosso Futuro ❤️
    </button>

</div>

</section>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>


<section id="futuro" class="final">

    <h2>Nosso Futuro ❤️</h2>

    <div class="bloco-final">

        <img src="{{ url_for('static', filename='img/foto4.jpg') }}" alt="Foto especial">

        <div class="texto-final">

            <h3>Você é meu lugar favorito.</h3>

            <p>
                Depois de tantos momentos, continuo tendo a certeza
                de que a melhor decisão da minha vida foi ter respondido aquela mensagem no instagram kkk.
                Ta vendo essa imagem criada com IA? Será nosso futuro e nesse futuro vamos ser ainda mais felizes do que já somos com a companhia dos bixos hoje em dia.
                Obrigado por fazer parte da minha história.
            </p>

        </div>

    </div>

    <div class="bloco-final invertido">

        <div class="texto-final">

            <h3>Que venham muitos anos...</h3>

            <p>
                Espero que esta página represente apenas uma pequena parte
                de tudo o que vivemos e ainda vamos viver juntas minha princesa.
                Eu te amo infinitamente. ❤️
                <br><br>
                ASS: CAMYLE Tech 😎 Fique ai com uma foto maravilhosa que eu amo dms.
            </p>

        </div>

        <img src="{{ url_for('static', filename='img/foto5.jpg') }}" alt="Foto especial">

    </div>

    <div class="voltar-topo">
        <button id="btnInicio" class="btn-voltar">
            ↑ Voltar ao início
        </button>
    </div>

</section>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
